{%extends 'base.html'%}
{% block title %} Careers{% endblock %}

{%block body%}
<div class="container">
    <div class="row">
        <header><h3><center>SPAjuvenate Health and Beauty </center></h3></header>
    </div>
    <div class="row">
        <header><h3><center>Application for Employment  </center></h3></header>
        <p><center>1000 E Atlantic BLVD, Suite 100, Pompano Beach, FL 33060</center></p>
    </div>
    <div class="row">
        <header><h6><center>Please answer each question completely-and as honestly as possible-so we may
            support you fully in achieving personal fulfillment, as well as professional and financial success.
            Prospective employees will receive consideration without regards to race, creed, color, religion, gender,
            national origin, age, disability, marital or veteran status, sexual orientation, or any other legally
            protected status. We are equal opportunity employer.  </center></h6></header>
    </div>
</div>
{%endblock%}