{%extends 'base.html'%}
{%load static%}
{% block title %} First visit{% endblock %}

{%block body%}
<div class="container">
    <h3><center>FIRST VISIT</center></h3>
    <hr class="border border-danger border-2 opacity-50">
    <div class="row">
        <div class="col-md-4">
            <img src="{%static 'images/first.jpeg'%}">
        </div>
        <div class="col-md-8">
            <h5> An introductory appointment at your SPA is a great opportunity to improve your overall health and wellness.</h5>
            <p>Our luxury SPA experience gives you the choice of Massage Therapy, Facial, Waxing and Nail Care Services . Providing "a luxury that everyone can afford” is more than just our motto...we take great pride in being the best value in America for health and wellness services. </p>
            <p>We are confident that our friendly front desk staff, licensed and professional service providers and clean comfortable "luxurious" environment will result in a first visit that is an extraordinary step in your new journey to incorporate the benefits of our services into your everyday health and wellness routine. </p>
        </div>
    </div>
    <hr class="border border-danger border-2 opacity-50">
    <div class="row">
        <h3>AS YOU ARRIVE</h3>
        <P>Our front desk staff will begin your experience with a warm welcome as you wait for your appointment time. Prior to your appointment you will be asked to complete a brief intake survey to provide full contact information, indicate any past massage or Facial experiences, provide a brief medical history and list any current injuries or other conditions that your massage therapist or Esthetician should know prior to your session. </P>
        <P>You will consult with your massage therapist or Esthetician to determine the objective for your session, including whether you are visiting for a new experience, to receive massage for stress relief or relief from minor aches and pain. At this time you will discuss any pertinent medical information to allow your massage therapist to determine if there are any contraindications to performing your massage. Specific areas that need to be addressed due to pain or any other physical conditions will be discussed, and together you will arrive at a plan for areas of focus (or avoidance) to help ensure the desired outcome. </P>
        <P>Minors between the ages of 14 and 15 years will be booked with a therapist of the same gender, and a parent or guardian must be present in the room during the service. Minors between the ages of 16 and 17 years may receive service without a parent or guardian present but will need to have a permission release form signed by a parent or legal guardian that authorizes SPAjuvenate to perform services. If consent has not been received by his/her appointment time, we will gladly reschedule the session for a later time to ensure such release has been granted. </P>
    </div>
    <hr class="border border-danger border-2 opacity-50">
    <div class="row">
        <h3>YOUR SESSION BEGINS</h3>
        <p>Your licensed massage therapist or Esthetician will escort you to your treatment room where we provide an inviting and relaxing environment. After your consultation, your massage therapist will leave the room while you disrobe to your comfort level. Once disrobed, you will need to lie on the massage table or Facial table, under the top sheet. Your massage therapist or Esthetician will give you a few moments for this process and will knock on the door to ask if you are ready before entering your room. </p>
        <p>During your massage, you will always be draped with the top sheet, and an additional blanket is available at your request. Your massage therapist will only uncover the part of the body they are working on – never exposing any sensitive areas. Our massage tables are padded and heated to your preference. Unless you request otherwise, serene music will be playing in the background without any distractions. </p>
    </div>
    <hr class="border border-danger border-2 opacity-50">
    <div class="row">
        <div class="col-md-8">
            <h3>THE SPAjuvenate EXPERIENCE</h3>
            <p>In efforts to provide the highest level of comfort during your session, our therapist will ask you about the level of pressure, methods or strokes they are applying. Your specific needs or requests are important to us. Therefore, your therapist will customize your full-body massage (for the general relaxation and stress reduction) or focus on the specific target areas of your body that you have requested. </p>
            p>Our therapists are trained professionals and understand that conversations during massage sessions vary with each individual client. We encourage that you do what feels best for you and we will follow your lead. </p>
        </div>
        <div class="col-md-4">
            <img src="{%static 'images/spaexp.jpg'%}">
        </div>
    </div>
    <hr class="border border-danger border-2 opacity-50">
    <div class="row">
        <h3>CONCLUSION</h3>
        <p>Once your session has ended, your Massage Therapist will leave the room so you may re-dress. Your Massage Therapist will wait outside the room for you with a refreshing bottle of water. </p>
        <p>We offer massage therapy sessions and facials that vary from 1-hour to 1 ½-hour to 2 hours in length. Each session includes a 5 minute consultation with your licensed massage therapist and 5 minutes re-dress at the conclusion of your appointment.</p>
        <h6>We look forward to seeing you for your first visit. If you have questions a member of our service team will be happy to answer them for you</h6>
    </div>
    <hr class="border border-danger border-2 opacity-50">
    <div class="row">
        <h4 style="color:green;"><center>To fully enjoy your SPAjuvenate experience, we recommend that you arrive at least 15 minutes prior to your scheduled session. </center></h4>
        <h4>For added convenience, you are required to fill and complete your client intake form and Liability waiver form. </h4>
    </div>
    <hr class="border border-danger border-2 opacity-50">
    <div class="row">   
        <h4 style="color:green;"><center>One Hour Full-Body Massage is comprised of 5-minutes to consult with your therapist, a 50-minute massage and 5-minutes to undress/redress.</center></h>
    </div>
    <hr class="border border-danger border-2 opacity-50">
    <div class="row">
        <h3><center>HAVE QUESTIONS?</center></h3><br><br>
        <img src="{%static 'images/spa_book.jpeg'%}" style="width:500px;height:300px;margin-left:25%;"><br>
        <h5><center>Ready to Book an Appointment?</center></h5>
        <h5><center>or call (754) 800-6006 to reach SPAjuvenate</center></h5>

    </div>
</div>
{%endblock%}