{%extends 'base.html'%}
{% block title %}Packages{% endblock %}

{%block body%}
{%if messages%}
{%for message in messages%}
<div style="text-align:center;" class="alert alert-success" role="alert">{{message}}</div>
{%endfor%}
{%endif%}
<h3><strong><center>Our Packages</center></strong></h3>
  <a href="{%url 'home'%}" class="btn btn-primary" style="margin-left:30px;">Go Back</a>
{%if packages%}
<div class="container">
<div class="row">
{%for package in packages%}
  <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
    <div class="product-item bg-light mb-4">
    <div class="product-img position-relative overflow-hidden">
    <img class="img-fluid w-100" style="width:100%;height:250px;" src="{{package.image.url}}" alt="">
    <div class="product-action">
    <a class="btn btn-outline-dark btn-square" href="{%url 'cart-package' package.id%}"><i class="fa fa-shopping-cart"></i></a>
    <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-info"></i></a> -->
    </div>
    </div>
    <div class="text-center py-4">
    <a class="h6 text-decoration-none text-truncate" href="">{{package.name}}</a>
    <div class="d-flex align-items-center justify-content-center mt-2">
    <h5>{{package.desc}}</h5><h6 class="text-muted ml-2"><del></del></h6>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-2">
      {%for cur in currency%}
        {% if cur.status == True %}

      <h5>Price: {{cur.currency_type}} {{package.price}}</h5><h6 class="text-muted ml-2"><del></del></h6>
      {% endif %} 
      {%endfor%}  
    </div>
    <div>
      <a  href="{%url 'package-payment' package.id %}" type="button" class="btn btn-primary">Buy Now</a>
      <a  href="{%url 'cart-package' package.id %}" type="button" class="btn btn-dark">Add to cart</a>

    </div>
    </div>
    </div>
    </div>



{%endfor%}

</div>
{%else%}
<div class="py-5">
    <div class="row justify-content-center mb-3">
      <center><strong>Sorry! No Packages found at the moment</strong></center>
    </div>
</div>
{%endif%}
</div>
{%endblock%}