<!DOCTYPE html>
{%extends 'base.html'%}
{% block title %}Book now{% endblock %}

{%block body%}
{%load static%}
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src={% static 'js/shop.js' %} defer></script>
</head>

<body id="body-shop">
    {%if messages%}
{%for message in messages%}
<div style="text-align:center;" class="alert alert-success" role="alert">{{message}}</div>
{%endfor%}
{%endif%}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{%url 'home'%}">HOME</a>
                    <a class="breadcrumb-item text-dark" href="#">BOOK NOW</a>
                    {% comment %} <span class="breadcrumb-item active">BOOK LIST</span> {% endcomment %}
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                
                <!-- Category Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Category</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form action="" method=""> 
                        {%csrf_token%}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" >
                            <input type="checkbox" name="category" class="custom-control-input filter-checkbox" checked id="all" value="All Services" onClick="allService()">
                            <label class="custom-control-label" for="all" >All Services</label>
                            {% comment %} <span class="badge border font-weight-normal">1000</span> {% endcomment %}
                        </div>
                        {%for category in categories%}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" data-filter="category" name="{{category.id}}" class="custom-control-input filter-checkbox cat" id="{{category.category_name}}" value="{{category.category_name}}" onClick="customCheckbox(event)">
                            <label class="custom-control-label" for="{{category.category_name}}">{{category.category_name}}</label>
                            {% comment %} <span class="badge border font-weight-normal">150</span> {% endcomment %}
                        </div>
                        {%endfor%}

                    </form>
                </div>        
                <!-- Category End -->
            {% comment %} <div class="col-lg-3 col-md-4">

                <label class="label">One
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="label">Two
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="label">Three
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="label">Four
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>

            </div>
            <div class="col-lg-3 col-md-4">

                <div class="check-boxes">
                    <div class="cheeckbox checked">
                        <label>Option 4</label>
                        <input type="checkbox" name="option4">
                    </div>
                    <div class="cheeckbox">
                        <label>Option 5</label>
                        <input type="checkbox" name="option5">
                    </div>
                    <div class="cheeckbox">
                        <label>Option 6</label>
                        <input type="checkbox" name="option6">
                    </div>
                </div>

            </div> {% endcomment %}
                {% comment %} <!-- Size Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-1">
                            <label class="custom-control-label" for="size-1">XS</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-2">
                            <label class="custom-control-label" for="size-2">S</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-3">
                            <label class="custom-control-label" for="size-3">M</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-4">
                            <label class="custom-control-label" for="size-4">L</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="size-5">
                            <label class="custom-control-label" for="size-5">XL</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Size End --> {% endcomment %}
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8" >
                <div class="row pb-3" id="service-list">
                    
            
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    


        


    <!-- Shop End -->


   

    <!-- Back to Top -->
    {% comment %} <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a> {% endcomment %}

</body>


{%endblock%}