{%extends 'base.html'%}
{% block title %}Spa Etiquette{% endblock %}

{%block body%}
<div class="container">
<h3 style="text-align:center"><strong>SPA-ETIQUETTE</strong></h3>
<p><strong>Appointment–</strong> Arrive 10 – 15 minutes early to your appointment.</p>
<p><strong>Draping–</strong>Professional draping is performed throughout your massage or facial treatment Atmosphere-Please be mindful and respect the privacy and atmosphere of all guests who are enjoying Alcohol - Rehydrate with water provided by SPAjuvenate. Outside food, beverages, alcohol and glassware are not permitted in the spa.</p>
<p><strong>Earphone-</strong>Earphones are provided with new disposable earpiece covers, with gives you the option to hear separate Spa music .</p>
<p><strong>Devices– </strong>To provide guests with a tranquil experience, please turn off cell phones.</p>
<p><strong>Voice–</strong>Please mind the volume of your voice while at the spa. We don’t want the noise to disrupt any of the other guest services.</p>
<p>Thank you!</p>
</div>
{%endblock%}