<div class="row pb-3">                        
    {%if services%}
    {%for service in services%}
    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" style="width:100%;height:230px;" src="{{service.image.url}}" alt="">
                <div class="product-action">
                    <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a> -->
                    <a class="btn btn-outline-dark btn-square" href="{%url 'add-wishlist' service.id%}"><i class="far fa-heart"></i></a>
                    {% comment %} <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a> {% endcomment %}
                    <a class="btn btn-outline-dark btn-square" href="{%url 'book' service.id%}"><i class="fa fa-info"></i></a>
                </div>
            </div>
            <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href="{%url 'book' service.id%}">{{service.name}}</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                    {%for cur in currency%}
                    {% if cur.status == True %}
                    <h5>{{cur.currency_type}}{{service.cost}}</h5><h6 class="text-muted ml-2"><del>{{service.striked_off_cost}}</del></h6>
                    {% endif %} 
                    {%endfor%}
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                    {%if service.rating %}
                    {%if service.rating >= 1 and service.rating < 2 %}
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    {%elif service.rating >= 2 and service.rating < 3 %}
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    {%elif service.rating >= 3 and service.rating < 4 %}
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    {%elif service.rating >= 4 and service.rating < 5 %}
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    {%elif service.rating == 5 %}
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    {%else%}
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    {% comment %} <small class="fa fa-star-half-alt text-primary mr-1"></small> {% endcomment %}
                    <small>(0)</small>
                    {%endif%}
                    <small>({{service.rating_count}})</small>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    {%else%}
    <div class="row justify-content-center mb-3">
        <h4><center><strong>Sorry! No Services found at the moment</strong></center></h4>
      </div>
      {%endif%}
</div>