{%extends 'base.html'%}
{% block title %}Profile update{% endblock %}

{%block body%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h4>Hello {{request.user.username}}, Update Your Profile here</h4>
        <form action="" method="POST" class="mt-5 mb-3">
            {%csrf_token%}
            {{form.as_p}}
            <input  class="btn btn-primary" type="submit" value="Submit">
            <a href="{%url 'profile-manager'%}"  class="btn btn-primary me-2">Go Back</a>

        
        </form>
    </div>
    <div class="col-4"></div>
</div>

{%endblock%}

